################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp-gomoku/.vs/csharp-gomoku/v15/Server/sqlite3
/csharp-gomoku/bin/Debug
/Tests_csharp-gomoku/obj/Debug
/Tests_csharp-gomoku/bin/Debug
/csharp-gomoku/obj/Debug
/Tests_csharp-gomoku/obj/Release
/Tests_csharp-gomoku/bin/Release
/csharp-gomoku/obj/Release
/csharp-gomoku/bin/Release
