################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp-gomoku/.vs/csharp-gomoku/v15/Server/sqlite3
